<div class="container px-5">
    <div class="d-grid gap-2 col-12 mx-auto mb-5">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button id="btnBack" type="button" class="btn btn-primary bg-gradient-primary-to-secondary btn-lg" disabled>Voltar </button>
            <button id="btnEnd"  type="button" class="btn btn-primary bg-gradient-primary-to-secondary btn-lg">Finalizar</button>
            <button id="btnNext" type="submit" class="btn btn-primary bg-gradient-primary-to-secondary btn-lg" >Avançar</button>
        </div>
    </div>
</div>