<!-- Progress Bar-->
<div class="row justify-content-center">
    <div class="col-sm-12 align-self-end">
        <div class="progress ">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="<%= correntValue %>" aria-valuemin="0" aria-valuemax="50" style="width:<%= correntValue %>%"></div>
        </div>
    </div>
</div>